@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .btn-shadow {
    box-shadow: 4px 4px 16px 0px #147287;
  }
}

:root {
  --foreground-rgb: 245, 245, 245;
  --background-rgb: 62, 72, 77;
  --form-background-rgb: 48, 54, 56;
}

.bg-light-blue {
  background-color: #2fb2ce;
}

.bg-my-black {
  background: rgb(var(--form-background-rgb));
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
